{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Formatting Tags {% endblock %}

{% block content %}
<h1 style="color: blue;">Example of Formatting tags</h1>

<p>This text has subtext using <b>b tag</b></p>
<p>This text has subtext using <strong>strong tag</strong></p>
<p>This text has subtext using <i>i tag</i></p>
<p>This text has subtext using <em>emphasize tag</em></p>
<p>This text has subtext using <small>small tag</small></p>
<p>This text has subtext using <mark>mark tag</mark></p>
<p>This text has subtext using <del>del tag</del></p>
<p>This text has subtext using <ins>ins tag</ins></p>
<p>This text has X<sub>subtext</sub> using sub tag</p>
<p>This text has X<sup>subtext</sup> using sup tag</p>
{% endblock %}